<div class = "block_Food_Type">
    <img class = "food_image" [src]="salmon" alt="">
    <div class = "food_Info">
        <h4 class = "food_name">Sushi Salmon</h4>
        <span class = "food_Amount">70 г</span>
    </div>
    <footer class = "footer_Bar">
        <span class = "food_Price">80 грн</span>
        <div class = "wantToBuy">
            <span class = "wanna">Хочу!</span>
            <svg class = "bag">
                <use xlink:href ="#bag"></use>
            </svg>
        </div>
    </footer>
</div>
<div class = "block_Food_Type">
    <img class = "food_image" [src]="tuna" alt="">
    <div class = "food_Info">
        <h4 class = "food_name">Sushi Tuna</h4>
        <span class = "food_Amount">50 г</span>
    </div>
    <footer class = "footer_Bar">
        <span class = "food_Price">60 грн</span>
        <div class = "wantToBuy">
            <span class = "wanna">Хочу!</span>
            <svg class = "bag">
                <use xlink:href ="#bag"></use>
            </svg>
        </div>
    </footer>
</div>
<div class = "block_Food_Type">
    <img class = "food_image" [src]="shrimp" alt="">
    <div class = "food_Info">
        <h4 class = "food_name">Sushi Shrimp</h4>
        <span class = "food_Amount">50 г</span>
    </div>
    <footer class = "footer_Bar">
        <span class = "food_Price">50 грн</span>
        <div class = "wantToBuy">
            <span class = "wanna">Хочу!</span>
            <svg class = "bag">
                <use xlink:href ="#bag"></use>
            </svg>
        </div>
    </footer>
</div>