<div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]="filadelfia" alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Філадельфія XXL</h4>
            <span class = "food_Amount">310 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">249 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]="california" alt="">
        <div class = "food_Info">
            <h4 class = "food_name">California Roll</h4>
            <span class = "food_Amount">290 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">200 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]="spiderRoll" alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Spider Roll</h4>
            <span class = "food_Amount">360 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">220 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
</div>