.cover_On_Bigger_Screen {
  display: none;
}

@media screen and (min-width: 1000px) {

  .cover_On_Bigger_Screen {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(53, 53, 53);
  }

  .section_One {
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 50%;
  }

  .cover_Two_Recycle_Logo {
    display: block;
    height: 50px;
    width: 50px;
  }

  .style_Name_Company {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    color: white;
  }

  .dws-menu {
    margin-right: 120px;
  }

   .dws-menu ul,
   .dws-menu ol{
    list-style: none;
   }
   .dws-menu > ul{
    display: flex;
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
    border-right: 1px solid rgb(53, 53, 53);
   }
   .dws-menu > ul li:first-child{
    border-left: 1px solid rgb(53, 53, 53);
   }
   .dws-menu > ul li:last-child{
    border-right: 1px solid rgb(53, 53, 53);
   }
   .dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }

   .dws-menu > ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 31px;
    background-color: rgb(53, 53, 53);
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
   }
   
   /*sub menu*/
   .dws-menu li ul{
    position: absolute;
    min-width: 180px;
    display: none;
   }
   .dws-menu li > ul li{
    border: 1px solid rgb(255, 254, 254);
   }
   .dws-menu li > ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-transform: none;
    background: rgb(53, 53, 53);
   }
   .dws-menu li > ul li ul{
    position: absolute;
    right: -180px;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }
}