.cover {
    position: fixed;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid gray;
    background-color: rgb(53, 53, 53);
  }
  
  .main_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .company_name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
  }
  
  .menu {
    display: block;
    fill: white;
    width: 40px;
    height: 40px;
}

.cover_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px 0px 40px;
    height: 100vh;
    background-color: rgb(53, 53, 53);
  }
  
  .cover_Two_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .logo_block {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .logo_Block_Name {
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: white;
  }
  
  .cover_Two_Recycle_Logo {
    display: block;
    width: 40px;
    height: 40px;
  }
  
  .cross {
    display: block;
    width: 30px;
    height: 30px;
  }
  
  .list_text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 25px;
    list-style-type: none;
    line-height: 42px;
    color: #fffdfd;
  }
  
  .list_text:hover {
    color: black;
}