<div class = "wrapper">
    <h1>О переработке</h1>
    <ul class = "list_of_Links_FAQ">
        <li class = "list_link_block"><a href="" class = "links_FAQ">РСО, МСЗ, ТБО... что?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Помощь со входом и устранение проблем</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Управление акаунтом</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Действительно ли в Украине есть заводы-переработчики. Где они находятся?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Каковы продукты переработки?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Как поддержать заводы-переработчики?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Можно ли вторсырьё отвезти прямо на завод-переработчик (физ. лицам)?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Правда ли, что батарейки у нас не перерабатывают?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Какие материалы трудно (невозможно) переработать, почему?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Перерабатывают ли в Украине обувь, непригодную к носке?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">А не проще ли построить заводы, которые будут сами разделять мусор?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">А не проще ли построить современные мусоросжигательные заводы и избавляться от мусора с их помощью?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Когда будет раздельный сбор в каждом дворе?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Что дает переработка пластика?</a></li>
    </ul>
    <h2>О пунктах и контейнерах</h2>
    <ul class = "list_of_Links_FAQ">
        <li class = "list_link_block"><a href="" class = "links_FAQ">Где я могу найти пункт раздельного сбора или контейнер для вторсырья?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Правда ли, что раздельно собранное вторсырьё всё равно валят в одну кучу и везут на свалку/МСЗ?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Почему разные виды вторсырья иногда собирают в один контейнер?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Что делать, если вторсырьё из контейнера для раздельного сбора загружают в один мусоровоз со смешанными отходами?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Что делать, если вторсырьё из контейнера для раздельного сбора несвоевременно вывозят?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Куда можно сдать ртутный градусник?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Куда можно сдать батарейки?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Куда можно сдать энергосберегающие ртутные лампы?</a></li>
        <li class = "list_link_block"><a href="" class = "links_FAQ">Почему заготовитель принимает не все виды вторсырья или не все виды пластика?</a></li>
    </ul>
</div>