<div class = "wrapper">
    <div routerLink = '/services/McDonalds' class = "services_block">
        <img  class = "images" [src]=myimageOne alt="">
    </div>
    <div routerLink = '/services/Fugu' class = "services_block">
        <img class = "images" [src]=myimageT alt="">
    </div>
    <div routerLink = '/services/BurgerKing' class = "services_block">
        <img class = "images" [src]=myimageTwo alt="">
    </div>
    <div routerLink = '/services/TheCup' class = "services_block">
        <img class = "images" [src]=myimageThree alt="">
    </div>
    <div routerLink = '/services/Food' class = "services_block">
        <img class = "images" [src]=myimageFour alt="">
    </div>
    <div routerLink = '/services/Orange' class = "services_block">
        <img class = "images" [src]=myimageFive alt="">
    </div>
    <div routerLink = '/services/Forest' class = "services_block">
        <img class = "images" [src]=myimageSix alt="">
    </div>
    <div routerLink = '/services/Sushi-Master' class = "services_block">
        <img class = "images" [src]=myimageO alt="">
    </div>
    <div routerLink = '/services/Habibi' class = "services_block">
        <img class = "images" [src]=myimageR alt="">
    </div>
</div>
<router-outlet></router-outlet>