<div class = "wrapper">
    <div routerLink = '/services/McDonalds' class = "services_block">
        <img  class = "services_Images" [src]=myimageOne alt="">
        <h3 class = "services_Content_name">McDonalds</h3>
        <h5 class = "services_Content_name">Кухня: Fast food</h5>
        <p class = "services_Context_Info">
            McDonald’s, «Макдо́налдс» — американская корпорация, работающая в сфере общественного питания, крупнейшая в мире сеть ресторанов быстрого питания.
        </p>
    </div>
    <div routerLink = '/services/Fugu' class = "services_block">
        <img class = "services_Images" [src]=myimageT alt="">
        <h3 class = "services_Content_name">Fugu</h3>
        <h5 class = "services_Content_name">Кухня: Japanese food</h5>
        <p class = "services_Context_Info">
            Суши бар - «FUGU» – это стильное молодежное заведение в центре Черкасс, уже давно зарекомендовавшее себя среди жителей города как место с отличной атмосферой. Тут можно не только вкусно покушать, заказав суши и отведав другие интересные блюда авторской японской кухни, но и прекрасно отдохнуть. Кто-то называет нас ресторан японской кухни, кто-то кафе, но нам ближе всего определение суши-бар. В категории Японские рестораны Черкассы наше заведение является лучшим в городе как среди почитателей подобной кухни, так и среди критиков.
            Для нашего города давно прошли времена однообразия в еде. И без сомнения можно сказать, что японские рестораны Черкассы все стараются держать высокий уровень в сервисе и в приготовлении блюд, но мы без лишней скромности можем считать, что Фугу - это лучшее заведение Черкасс, что позиционируется на традиционной восточной кухне.
        </p>
    </div>
    <div routerLink = '/services/BurgerKing' class = "services_block">
        <img class = "services_Images" [src]=myimageTwo alt="">
        <h3 class = "services_Content_name">Burger King</h3>
        <h5 class = "services_Content_name">Кухня: Fast food</h5>
        <p class = "services_Context_Info">
            Burger King Corporation («Бургер Кинг») — американская компания, владелец глобальной сети ресторанов быстрого питания Burger King, специализирующейся на гамбургерах (главным образом, на вопперах). Штаб-квартира располагается на включённой территории округа Майами-Дейд (штат Флорида, США). 
        </p>
    </div>
    <div routerLink = '/services/TheCup' class = "services_block">
        <img class = "services_Images" [src]=myimageThree alt="">
        <h3 class = "services_Content_name">Чашка</h3>
        <h5 class = "services_Content_name">Кухня: Espresso Bar</h5>
        <p class = "services_Context_Info">
            Кафе Чашка Европейской кухни в Черкассах.
        </p>
    </div>
    <div routerLink = '/services/Forest' class = "services_block">
        <img class = "services_Images" [src]=myimageSix alt="">
        <h3 class = "services_Content_name">Forest</h3>
        <h5 class = "services_Content_name">Кухня: European cuisine</h5>
        <p class = "services_Context_Info">
            Ресторан "Форест" – это мясной ресторан с европейской кухней, современным ярким эко-дизайном, в котором сочетаются банкетный зал, бар, лаунж-зона и танцпол.
            Изюминкой ресторана является испанская дровяная печь "Хоспер" для приготовления мясных блюд, которая находится прямо в зале, в открытой для обзора зоне.
            Меню разрабатывали Президент Киевской Ассоциации Шеф Поваров Игорь Брагин и выпускник Кулинарной Академии Киевской ассоциации шеф-поваров Анатолий Добровольский.
            Уютная атмосфера ресторана "Форест" поможет отвлечь Вас от городской суеты.
        </p>
    </div>
    <div routerLink = '/services/Sushi-Master' class = "services_block">
        <img class = "services_Images" [src]=myimageO alt="">
        <h3 class = "services_Content_name">Sushi Master</h3>
        <h5 class = "services_Content_name">Кухня: Japanese food</h5>
        <p class = "services_Context_Info">
            Настоящие суши и роллы от шеф-повара японца! Наши курьеры бесконтактно доставят Ваш заказ. Заказ готовится только из качественных и свежих продуктов. Закажите на нашем сайте сейчас. Всегда свежие продукты. Безконтактная доставка.
        </p>
    </div>
    <div routerLink = '/services/Habibi' class = "services_block">
        <img class = "services_Images" [src]=myimageR alt="">
        <h3 class = "services_Content_name">Habibi</h3>
        <h5 class = "services_Content_name">Кухня: Cafe-Bar</h5>
        <p class = "services_Context_Info">
            Кафе-бар «Habibi» расположено на территории торгово-развлекательного центра «Крещатик-Сити». В составе заведения два зала, оформленные в традиционном восточном стиле. Меню состоит из блюд европейской кухни, где в основе представлена курица во всех ее видах, а также из блюд арабской кухни. В баре представлен ассортимент эксклюзивных коктейлей. Каждые выходные в «Habibi» проходят танцы живота и игра на барабанных. 
        </p>
    </div>
</div>
<router-outlet></router-outlet>