<div class = "wrapper">
    <div class = "services_block MCDonalds">
        <img class = "images" [src]=myimageOne alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageT alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]='myimageTwo' alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageThree alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageFour alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageFive alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageSix alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageO alt="">
    </div>
    <div class = "services_block">
        <img class = "images" [src]=myimageR alt="">
    </div>
</div>