.wrapper {
  width: 98vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#ffffff, #585e66);
}

.services_block {
    display: flex;
    width: 90vw;
    height: 150px;
    margin: 2%;
    margin-left: 3%;
}

.images {
  width: 90vw;
}