<div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]= 'chocolateShake' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Chocolate Shake</h4>
            <span class = "food_Amount">350 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">50 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'vanillaShake' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Vanilla Shake</h4>
            <span class = "food_Amount">340 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">50 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'kiddieCone' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Kiddie Cone</h4>
            <span class = "food_Amount">200 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">35 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
</div>

