<div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]= 'cocaCola' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Coca Cola</h4>
            <span class = "food_Amount">0,5 л</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">10 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'sprite' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Sprite</h4>
            <span class = "food_Amount">0,5 л</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">10 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'fanta' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Fanta</h4>
            <span class = "food_Amount">0,5 л</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">10 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
</div>

