<div class = "wrapper">	
	<h1>Log in</h1>
	<form class = "forma" [formGroup] = "logInForm" (ngSubmit) = "logIn()">
		<div>
			<label class = "label_For_Input">Username</label>
			<input class = "form-control" type="text" formControlName = "userName">
		</div>
		<div>
			<label class = "label_For_Input" >Password</label>
			<input class = "form-control" type="password" formControlName = "password">
		</div>
		<input class = "rememberMe" type="checkbox" formControlName = "checkbox">
		<div class = "buttons_Group">
			<button class = "btn btn-primary" [disabled]="!logInForm.valid">Log in</button>
			
			<a class = "registration" routerLink = 'registration'>Registration</a>
		</div>
	</form>
</div>	
<router-outlet></router-outlet>