<div class = "block_Food_Type">
    <img class = "food_image" [src]="tonjiru" alt="">
    <div class = "food_Info">
        <h4 class = "food_name">Tonjiru </h4>
        <span class = "food_Amount">500 г</span>
    </div>
    <footer class = "footer_Bar">
        <span class = "food_Price">100 грн</span>
        <div class = "wantToBuy">
            <span class = "wanna">Хочу!</span>
            <svg class = "bag">
                <use xlink:href ="#bag"></use>
            </svg>
        </div>
    </footer>
</div>
<div class = "block_Food_Type">
    <img class = "food_image" [src]="assari" alt="">
    <div class = "food_Info">
        <h4 class = "food_name">Asari Miso Soup</h4>
        <span class = "food_Amount">500 г</span>
    </div>
    <footer class = "footer_Bar">
        <span class = "food_Price">120 грн</span>
        <div class = "wantToBuy">
            <span class = "wanna">Хочу!</span>
            <svg class = "bag">
                <use xlink:href ="#bag"></use>
            </svg>
        </div>
    </footer>
</div>
<div class = "block_Food_Type">
    <img class = "food_image" [src]="vegan" alt="">
    <div class = "food_Info">
        <h4 class = "food_name">Vegan Miso Soup</h4>
        <span class = "food_Amount">500 г</span>
    </div>
    <footer class = "footer_Bar">
        <span class = "food_Price">110 грн</span>
        <div class = "wantToBuy">
            <span class = "wanna">Хочу!</span>
            <svg class = "bag">
                <use xlink:href ="#bag"></use>
            </svg>
        </div>
    </footer>
</div>
