.wrapper {
    background: linear-gradient(#ffffff, #585e66);
    height: 97vh;
}

.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    display: flex;
    margin-top: 10%;
}

input {
    margin-top: 5px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 50px;
}