<div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]= 'bigTasty' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Big Tasty</h4>
            <span class = "food_Amount">300 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">90 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'doubleGamburger' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Big Mack</h4>
            <span class = "food_Amount">240 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">75 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'doubleChisburger' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Double Cheeseburger</h4>
            <span class = "food_Amount">260 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">85 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
</div>
