<header>
    <div class = "header_Name">
        <p>Recycling</p>
    </div>
    <nav class = "header_Navigation">
        <section class="container">
            <div class="dropdown dropdown-dark">
              <select name="two" class="dropdown-select">
                <option value="">Select…</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
        </section>
        <button class = "button">ВХОД</button>
    </nav>
</header>