.cover {
  padding-top: 5%;
}

.main_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: block;
  width: 40px;
  height: 40px;
}

.cross {
  display: block;
  width: 30px;
  height: 30px;
}

.cover_two {
  display: flex;
  justify-content: space-around;
  margin-left: -5%;
  padding-top: 10%;
}

.list_text {
  list-style-type: none;
  margin-top: 20px;
  font-size: 34px;
  line-height: 42px;
  color: #828282;
}

.list_text:hover {
  color: black;
}