<header class = "header">
    <div class = "header_Name">
        <p>Recycling</p>
    </div>
    <nav class = "header_Navigation">
        <section class="container">
            <div class="dropdown dropdown-dark">
              <select name="two" class="dropdown-select">
                <option value="">Home</option>
                <option value="1">Services</option>
                <option value="2">Support</option>
                <option value="3">About Us</option>
                <option value="4">F&Q</option>
                <option value="5">Contact Us</option>
              </select>
            </div>
        </section>
        <button class = "myButton">ВХОД</button>
        <a routerLink = "/form">Form</a>
    </nav>
</header>
