.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_One {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-bottom: 20px
}

hr {
    width: 200px;
    margin-bottom: 40px
}

.section_One_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sectipn_header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 102, 0);
    margin-bottom: 20px
}

.section_Paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;
}

.cover_Five_Block_Services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
  }
  
.cover_Five_Blocks {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.can {
  display: block;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(255, 102, 0);
  fill: white;
}

.can:hover {
  background-color: black;
  transition: 0.7s ease-in-out;
}

.wheat {
  display: block;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(255, 102, 0);
  fill: white;
}

.wheat:hover {
  background-color: black;
  transition: 0.7s ease-in-out;
}

.recycling_bin {
  display: block;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(255, 102, 0);
  fill: white;
}

.recycling_bin:hover {
  background-color: black;
  transition: 0.7s ease-in-out;
}

.cover_Five_Block_Header {
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.cover_Five_Block_Paragraph {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cover_Five_contact_link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 102, 0);
  font-weight: 600;
}

.section_Two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;

}

.section_Two_Blocks {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 60px;
}

.section_block {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: rgb(255, 102, 0);
  border-radius: 50%;
  margin-bottom: 20px;
}

.block:hover {
  background-color: black;
  transition: 0.7s ease-in-out;
}

.svg_image_block {
  display: block;
  fill: white;
  width: 150px;
  height: 150px;
}

.section_Two_Block_Two {
    display: flex;
    flex-direction: column;
}

.margin {
  color: black;
}

.sectipn_Two_Header {
  color: rgb(255, 102, 0);
  margin-bottom: 20px;
}

.cover_Seven {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: rgb(39, 39, 39);
  }
  
  .company_Name_Style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
  }
  
  .recycleTwo {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
  }
  
  .footer_Info {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
  }
  
  .footer_Links {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .instagram {
    width: 40px;
    height: 40px;
  }
  
  .facebook {
    width: 40px;
    height: 40px;
  }
  
  .twitter {
    width: 40px;
    height: 40px;
  }