<svg display='none'>
	<symbol id = "menu" viewBox="0 0 50 50">
		<path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/>
	  </symbol>
</svg>

<div class = "wrapper">
	<div class = "menu_links">
		<div class="dropdown">
			<svg class = "menu dropbtn">
				<use xlink:href ="#menu"></use>
			</svg>
			<div class="dropdown-content">
			<a class = "list_Hover_effect" routerLink = '/services'>Services</a>
			<a class = "list_Hover_effect">Favorites</a>
			<a class = "list_Hover_effect">QRcode</a>
			<a class = "list_Hover_effect" routerLink = '/FAQ'>F&Q</a>
			<a class = "list_Hover_effect" routerLink = '/'>Home page</a>
			<a class = "list_Hover_effect">Settings</a>
			</div>
		</div>
		<div class = "main_info">
			<ul class = "list_Elements">
				<li class = "elements"><b>Name:</b> {{name}}</li>
				<li class = "elements"><b>Second Name:</b>  {{secondName}}</li>
				<li class = "elements"><b>Phone:</b>  {{phoneNumber}}</li>
				<li class = "elements"><b>Balance:</b>  2000 points</li>
				<li class = "elements"><b>Rank:</b>  163</li>
				<li class = "elements"><b>Email :</b>  {{email}}</li>
				<li class = "elements"><b>Registration in:</b> {{date}}</li>
				<li class = "elements"></li>
				<li class = "elements"></li>
				<li class = "elements"></li>
			</ul>
		</div>
	</div>
	<div class = "content_block">
		<div class = "some_div_One">
			<div class = "div_insade">
				some content block
			</div>
			<div class = "div_insade">
				some content block
			</div>
		</div>
		<div class = "some_div_One">
			<div class = "div_insade">
				some content block
			</div>
			<div class = "div_insade">
				some content block
			</div>
		</div>
	</div>			
</div>
