.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 234, 234);
}

.first_header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.main_Header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.personalData {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first_Block_Of_PersonalData {
  display: flex;
  margin-top: 2px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.picture {
  border: 1px solid  rgb(14, 13, 13);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgb(226, 226, 226);
}

.change_Data {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_info {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.support_info {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  color: rgb(165, 167, 165);
}

.second_Block_Of_PersonalData {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.personal_info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.account_posibilities {
  width: 90%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
}

.services_links {
  list-style-type: none;
}

.list_Links {
  margin-top: 25px;
  margin-bottom: 25px;
}

.linkForServices {
  color: black;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.blocks_Of_Support {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first_Block_of_Support {
  display: flex;
  margin-top: 4px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.vector_pictures {
  width: 50px;
  height: 50px;
}

.links {
  color: black;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.mail_Content {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.mail_Content_Help {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.social_links {
  width: 100%;
  margin-top: 4px;
  background-color: white;
}

.bottom {
  padding-top: 20px;
  padding-left: 20px;
}

.bottom_One {
  padding: 20px;
}

.bottom_Two {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
}


.adjustProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust_Block_One {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.adjust_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.leftArrow {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.saveAdjusts {
  margin-right: 20px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: red;
}

.adjust_Image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid  rgb(14, 13, 13);
  margin-bottom: 50px;
  background-color: rgb(163, 163, 163);
}

.adjust_Link {
  text-decoration: none;
  margin-bottom: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: red;
}

.adjust_Form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.adjust_Label {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: rgb(206, 206, 206);
}

.adjust_Input {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgb(202, 202, 202);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  outline:none;
}
