<div class = "wrapper">
	<div class = "menu_links">
		<div class="dropdown">
			<button class="dropbtn">Account</button>
			<div class="dropdown-content">
			<a>Profile</a>
			<a routerLink = '/services'>Services</a>
			<a routerLink = '/FAQ'>F&Q</a>
			<a>Favorites</a>
			<a>QRcode</a>
			<a routerLink = '/'>Home page</a>
			<a>Settings</a>
			</div>
		</div>
		<div class = "main_info">
			<ul class = "list_Elements">
				<li class = "elements"><b>Name:</b>  Маша</li>
				<li class = "elements"><b>Second Name:</b>  Якутина</li>
				<li class = "elements"><b>Phone:</b>  +380638067874</li>
				<li class = "elements"><b>Balance:</b>  2000 points</li>
				<li class = "elements"><b>Rank:</b>  163</li>
				<li class = "elements"><b>Registration in:</b>  21/03/2020</li>
				<li class = "elements"></li>
				<li class = "elements"></li>
				<li class = "elements"></li>
				<li class = "elements"></li>
			</ul>
		</div>
	</div>
	<div class = "content_block">
		<div class = "some_div_One">
			<div class = "div_insade">
				some content block
			</div>
			<div class = "div_insade">
				some content block
			</div>
		</div>
		<div class = "some_div_One">
			<div class = "div_insade">
				some content block
			</div>
			<div class = "div_insade">
				some content block
			</div>
		</div>
	</div>			
</div>
