.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(#ffffff, #585e66);
}

.menu {
  display: block;
  width: 40px;
  height: 40px;
}
.menu_links {
  display: flex;
  justify-content: space-between;
}

.list_Hover_effect:hover {
  background-color: #b4b4b4;
}

.dropbtn {
  margin-top: 20px;
  margin-left: 30px;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.main_info {
  display: flex;
}

.list_Elements {
  list-style-type: none;
  margin-left: -20px;
}

.elements {
  margin: 10px;
}

.content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.some_div_One {
  display: flex;
}

.div_insade {
  margin: 2%;
  background-color: rgb(170, 177, 170);
  width: 180px;
  height: 150px;
}
