<div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src]= 'chickenUdon' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Chicken udon</h4>
            <span class = "food_Amount">500 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">120 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'beefUdon' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Beef Udon</h4>
            <span class = "food_Amount">500 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">140 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
    <div class = "block_Food_Type">
        <img class = "food_image" [src] = 'seeFoodUdon' alt="">
        <div class = "food_Info">
            <h4 class = "food_name">Seafood Udon</h4>
            <span class = "food_Amount">500 г</span>
        </div>
        <footer class = "footer_Bar">
            <span class = "food_Price">160 грн</span>
            <div class = "wantToBuy">
                <span class = "wanna">Хочу!</span>
                <svg class = "bag">
                    <use xlink:href ="#bag"></use>
                </svg>
            </div>
        </footer>
    </div>
</div>
